body {
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    max-width: 1900px;
    overflow: auto;
}

.portfolio-image {
    top: 15%;
    left: 65%;
    position: absolute;
    box-shadow: 20px 10px 40px 20px #8f66668c;
    border-radius: 30%;
}

.portfolio-image img {
    border-radius: 30%;
}

header {
    display: none;
}

.left-side-of-portfolio {
    background-color: #232323;
    width: 70%;
}

.right-side-of-portfolio {
    width: 30%;
    background-color: #ff84843d;
}

.both-sides-on-portfolio {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.sections-on-left-side {
    margin-left: 100px;
    margin-top: 70px;
    width: 100%;
    max-width: 600px;
}

.menu {
    display: inline-flex;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variant: small-caps;
    background-color: #FF8484;
    width: 100%;
    justify-content: center;

}

.menu h3 {
    padding: 0 30px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu a:hover {
    background-color: #f4a5a5;
}

h1 {
    color: #FFFFFF;
    font-size: 2.3em;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 8px;
}

.orange-dot {
    color: #FFB510;
}

.hi-intro {
    display: flex;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 5px;
    color: #FFFFFF;
    font-family: temeraire, serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 1em;
    font-family: temeraire, serif;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;

}

p {
    color: #FFFFFF;
    font-family: sofia-pro-soft, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    font-style: normal;
}

.big-decoration-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #FF8484;
}

.small-decoration-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #FF8484;
}

.introduction {
    margin-top: 100px;
}

.introduction p {
    line-height: 1.6;
}

.introduction h2 {
    color: #ACACAC;
}

.skill-list {
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-variant: small-caps;
    font-size: 1.5em;
    color: #FFB510;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    margin-block-start: 0;
}

.skill-list li {
    padding-right: 40px;
    padding-top: 20px;
}

.education-list {
    color: #707070;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.2em;
    line-height: 40px;
    list-style: none;
}

.education-list li::before {
    content: "\2022";
    color: #FF8484;
    width: 1.2em;
    margin-left: -1em;
    margin-right: 10px;

}

footer {
    background-color: #FF8484;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1700px;
    margin: 0 auto;
    padding-left: 100px;
}

footer ul {
    list-style-type: none;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 100;
    font-style: normal;
    display: flex;
}

footer li {
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    border-radius: 9px;
}

footer a:hover {
    background-color: #fcb8b8;
}

/*media tablet styles*/
@media only screen and (min-width:927px) and (max-width:1366px) {

    .right-side-of-portfolio {
        display: none;
    }

    .left-side-of-portfolio {
        width: 100%
    }

    header {
        display: block;
    }

    .portfolio-image {
        display: none;
    }
}

/*mobile styles*/
@media only screen and (max-width:926px) {

    .right-side-of-portfolio {
        display: none;
    }

    .left-side-of-portfolio {
        width: 100%;
        padding-top: 50px;
    }

    header {
        display: block;
    }

    .project-card,
    .project-card img {
        width: 100%;
        max-width: 400px;
    }

    .sections-on-left-side {
        width: 100%;
        max-width: 400px;
    }

    footer {
        padding-left: 0;
        text-align: center;
    }

    footer ul {
        flex-direction: column;
        padding-inline-start: 0;
    }

    footer li {
        padding: 10px 0;
    }

    .portfolio-image {
        display: none;
    }

}

/*small mobile styles*/
@media only screen and (max-width:530px) {

    main {
        overflow: hidden;
    }

    nav a {
        font-size: 0.7em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }

    .introduction,
    .sections-on-left-side {
        margin: 50px 20px 30px 20px;
        max-width: 280px;
    }

    footer {
        text-align: center;
        padding-left: 0;
    }

    .project-card,
    .project-card img {
        width: 100%;
        max-width: 230px;
    }

    .skill-list,
    .education-list {
        font-size: 1.1em;
    }
}